<!DOCTYPE html>

  <html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Tech Blog</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
    </head>

    <body>
      <header class="jumbotron">
          <h1>Tech Blog</h1>
              <nav>
                      {{#if logged_in}}
                      <a class="navbar-brand" href="/">Home</a>
                      <a class="navbar-brand" href="/dashboard">Dashboard</a>
                      <a class="navbar-brand" href="/" id="logout">Logout</a>
                      {{else}}
                      <h5><a class="navbar-brand" href="/login">LOG-IN</a>to connect with like-minded techies</h5>
                      {{/if}}
              </nav>          
      </header>

      <main>
        {{{ body }}}
      </main>
      

      {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
      {{/if}}

    </body>

  </html>